<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bai 3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="sup.js"></script>
</head>
<body ng-app="mysup"><!-- Định nghĩa khu vực dùng angular-->
    <div ng-controller="infoController">
        <center>
            <form>
                <div class="form-group">
                  <label>Chiều dài</label>
                  <input ng-model="length" class="form-control">
                </div>
                <div class="form-group">
                    <label>Chiều rộng</label>
                    <input ng-model="width" class="form-control">
                  </div>
                <div class="form-group">
                    <label>Diện tích</label>
                    <div ng-blind="acreage" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label>Chu vi</label>
                    <div ng-blind="perimeter" class="form-control"></div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="calculate()">Calculate</button>
                </div>
            </form>
        </center>  
    </div>
    
</body>
</html>